[*.{cs,vb}]

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = none

# IDE0031: Use null propagation
dotnet_diagnostic.IDE0031.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none
